@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html
{
  background-color: #ffffff;
  background-image: url(../img/Ontwerp_ProfTake.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: auto;
}
button
{
  background-color: #008cff;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}
h1
{
    margin: auto;
}

nav a
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 nav 
 {
    overflow: hidden;
    background-color: #008cff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #game-container
  {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 8vw;
    border-radius: 8px;
  }
  #games-container
  {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5% auto;
  }
    img
  {
    display: inline-block;
    width: 130px;
    height: 180px;
    margin-top: 1vw;
  }

    .game-item 
  {
    width: 12vw;
    height: 20vw;
    background-color: #F6E58E;
    display: inline-block;
    text-align: center;
    margin: 1vw;
    border-radius: 8px;
  }

.Content
{
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 4vw;
  text-align: center; 
  border-radius: 8px;
  padding: 1vw;
}

.BlogContentCreate
{
  margin: auto;
  margin-top: 4vw;
  background-color: #F6E58E;
  text-align: center;
  border-radius: 8px;
  padding: 1vw;
}

  .BlogContent
  {
    align-self: center;
    width: 60%;
    margin: auto;
    margin-top: 3vw;
  }
  .BlogContent h1
  {
    margin-bottom: 1vw;
  }
  .BlogContent a
  {
    font-style: italic;
    text-decoration: underline;
    color: rgb(0, 0, 120);
  }

  .blog-item 
  { 
    width: 100%;
    height: fit-content;
    background-color: #F6E58E;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 2vw;
    padding: 2vw;
    border-radius: 8px;
  }

  .comment
  {
    width: 100%;
    height: fit-content;
    background-color: #F6E58E;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 2vw;
    padding: 2vw;
    border-radius: 8px;
  }

    .banner
  {
    margin: auto;
    margin-top: 4vw;
    padding: 2vw;
    width: fit-content;
    background-color: #dfdfdf;
    text-align: center;
    border-radius: 8px;
  }

    .banner h1
  {
    font-size: 45px;
  }

    .banner p
  {
    font-size: 35px;
  }

    a
  {
    text-decoration: none;
    color: black;
  }

    .main
  {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .category
  {
    position: absolute;
    top: 7%;
    margin-left:1vw;
    background-color: #D4C680;
    padding: 0.5%;
    border-radius: 6px;
    border: none;
  }

  article
  {
    width: 95%;
    margin: auto;
    background-color: #dfdfdf;
    padding: 0.5%;
    border-radius: 6px;
    border: none;
  }

    .Top
  {
    position: fixed;
    top: 85%;
    left: 95%;
    border: none;
    background-color: #D4C680;
    border-radius: 100%;
    padding: 1vw;
    font-size: 42px;
    width: 4vw;
    height: 4vw;
  }
    .Top:hover 
  {
    cursor: pointer;
  }

    .description_item
  {
    float: right;
    width: 70%;
  }
    input
  {
    border: none;
    border-radius: 6px;
    padding: 6px;
  }

  
  .product
  {
    width: 70%;
    background-color: #F6E58E;
    padding: 2vw;
    border-radius: 8px;
  }
  .checkout
  {
    margin-left: 2vw;
    background-color: #F6E58E;
    padding: 2%;
    width: 250;
    height: 400px;
    border-radius: 8px;
  }
  .container
    {
      height: fit-content;
      width: fit-content;
      margin: auto;
      padding: 2vw;
      border-radius: 8px;
      background-color: #bcbcbc;
    }
    
    .container a :hover
    {
      color: #008cff;
    }
    .Clickable
    {
      background-color: #008cff;
      margin-top: 1vw;
    }